    #container {
      width: 375px;
      height: 667px;
      margin: 0px auto;
      text-align: center;
      background: black;
      position: relative;
      border: 1px solid black;
    }

    #scroll {
      width: 375px;
      height: 461px;
      margin: 0px auto;
      position: relative;
      border: 1px solid black;
      overflow-y: scroll;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        /* WebKit 브라우저의 스크롤바를 숨김 */
        width: 0;
        background: transparent;
      }
    }

    #whiteBox {
      margin-left: 15px;
      width: 345px;
      height: 400px;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    }

    #date {
      color: #000;
      font-family: Noto Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: underline;
      padding-top: 15px;
    }

    #imgBox {
      z-index: 1;
      margin-top: 25px;
      width: 300px;
      height: 200px;
      border-radius: 10px;
      border: 2px solid #fff;
      background: #000;
      margin-left: auto;
      margin-right: auto;
    }

    #imgBox p {
      margin-top: 60px;
      z-index: 0;
      color: #fff;
      font-family: Inter;
      font-size: 35px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-align: center; /* 텍스트를 가운데 정렬 */
    }

    #detail {
      text-align: left;
      margin-top: 15px;
      margin-left: 25px;
    }

    #footer_box {
      width: 375px;
      height: 97px;
      box-sizing: border-box;
      position: absolute;
      background: #ffffff;
      border: 1px solid #d9d9d9;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding-top: 10px;
      top: 570px;
    }
    #back {
      margin-top: 30px;
      margin-left: -300px;
    }
    #logo {
      margin-top: -37px;
    }
    #logout {
      margin-left: 280px;
      margin-top: -45px;
    }