#container {
      width: 375px;
      height: 667px;
      margin: 0px auto;
      text-align: center;
      background: black;
      position: relative;
      border: 1px solid black;
    }

    #footer_box {
      width: 375px;
      height: 97px;
      box-sizing: border-box;
      position: absolute;
      background: #ffffff;
      border: 1px solid #d9d9d9;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding-top: 10px;
      top: 570px;
    }
    #back {
      margin-top: 30px;
      margin-left: -300px;
    }
    #logo {
      margin-top: -37px;
    }
    #logout {
      margin-left: 280px;
      margin-top: -45px;
    }
    #input {
      margin-top: 40px;
    }
    #font {
      margin-top: -33px;
      margin-left: -190px;
      margin-bottom: 40px;
    }
    #commboxes {
      height: 500px;
      overflow-x: auto;
      overflow-x: hidden;
    }
    #commboxes::-webkit-scrollbar {
      width: 2px; /* 스크롤바 너비 조절 */
    }

    #commbox {
      box-sizing: border-box;
      position: relative;
      margin-top: 10px;
      height: 140px;
      width: 300px;
      left: 22px;
      right: 23px;
      background: #000000;
      border: 2px solid #ffffff;
      border-radius: 10px;
    }
    #name {
      color: #fff;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-left: 50px;
      margin-top: 0px;
    }
    #profile img {
      margin-left: -220px;
      width: 50px;
      height: 50px;
      margin-top: -25px;
      border-radius: 25px;
    }
    #date {
      position: relative;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      color: #d3d3d3;
      margin-top: 20px;
      margin-left: 70px;
    }
    #detail {
      position: relative;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
      margin-top: 10px;
      margin-left: 80px;
    }
