		/* 가입 버튼 스타일 */
        .join-button {
            width: 100%;
            height: 44px;
            background: #C2AC18;
            border-radius: 20px;
            text-align: center;
            line-height: 44px;
            cursor: pointer;
            color: black;
            font-size: 20px;
            font-weight: 500;
        }
        /* 회원가입 폼 스타일 */
        .registration-form {
            width: 375px;
            padding: 50px 25px;
            position: absolute;
            color: white;
            font-size: 25px;
            font-weight: 600;
        }
         body {
            margin: 0;
            padding: 0;
            background: black;
            font-family: Inter, sans-serif;
            position: relative;
        }

        /* 상단 바 스타일 */
        .top-bar {
            width: 375px;
            padding: 13.46px 25px 11.54px 25.96px;
            left: 7px;
            top: 0;
            position: absolute;
            justify-content: space-between;
            align-items: center;
            display: flex;
        }

        /* 로고 스타일 */
        .logo {
            width: 200px;
            /* 원하는 크기로 조정 */
            height: 60px;
            /* 원하는 크기로 조정 */
            background: black;
            /* 배경색을 흰색으로 설정 */
        }
        /* 입력 필드 스타일 */
        .input-field {
            width: 100%;
            height: 32px;
            padding: 7px 16px 6px;
            margin-bottom: 45px;
            border-radius: 6px;
            border: 1px #EDEDED solid;
            color: #787878;
            font-size: 16px;
            font-weight: 400;
        }